@font-face {
    font-family: 'Pacifico';
    src: url(Pacifico-Regular.ttf);
}
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
html, body{
    display: block;
    width: 100%;
    height: 100%;
}
header{
    position: fixed;
    display: block;
    width: 100%;
    height: 60px;
    z-index: 1;
    background-color: #6d6875;
}
header nav{
    display: block;
    width: 100%;
    height: 100%;
}
header ul{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: center;
}
header ul li{
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}
#menu{
    min-width: 50px;
    max-width: 60px;
    cursor: pointer;
}
#menu div, #menu div:before, #menu div:after{
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background-color: #ddd;
    transition: 0.2s;
}
#menu div:before{
    transform: translateY(-11px);
}
#menu div:after{
    transform: translateY(9px);
}
#menu.click div{
    height: 0;
}
#menu.click div:before{
    transform: rotate(45deg);
}
#menu.click div:after{
    transform: translateY(-2px) rotate(-45deg);
}
#menubox{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 60px;
    width: 40%;
    min-width: 200px;
    height: calc(100% - 60px);
    background-color: rgb(0,0,0,0.2);
    clip-path: circle(0% at 0 0);
    backdrop-filter: blur(5px);
    transition: 0.5s ease;
    z-index: 1;
}
#menubox ul{
    position: relative;
    display: flex;
    width: 100%;
    height: 50%;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}
#menubox li{
    list-style: none;
}
#menubox ul a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    font-family: monospace;
    font-size: 20px;
    cursor: pointer;
    margin: 0 0 2px 0;
    border-width: 0;
}
#menubox ul a:hover{
    margin: 0px 0;
    border-bottom: 2px solid #fff;
}
#menubox.click{
    clip-path: circle(200% at 0 0);
}
#logo:before{
    content: '';
    position: relative;
    float: left;
    display: block;
    background-image: url("logo.svg");
    background-size: 50px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
#logo{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    color: #ddd;
    font-weight: 100;
    font-size: 22px;
    font-family: 'Pacifico';
}
main{
    position: relative;
    top: 60px;
    display: block;
    width: 100%;
    height: calc(100% - 60px);
    overflow: hidden scroll;
    z-index: 0;
}
section{
    display: flex;
    width: calc(100% - 80px);
    height: 100%;
    grid-gap: 10px;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 40px;
    background-color: #6d6875;
}
.title{
    font-family: monospace;
    color: #ddd;
    font-size: 40px;
}
.title:before{
    content: '.';
}
.buttons, .buttons:after{
    position: relative;
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d23;
    margin: 0 0 10px 0;
}
.buttons:after{
    left: 20px;
    background-color: #da0;
}
.box{
    display: block;
    padding: 20px;
    min-width: 200px;
    width: calc(100% - 40px);
    max-width: 500px;
    border-radius: 10px;
    background-color: rgb(0,0,0,0.4);
    box-shadow: 10px 10px 0 rgb(0,0,0,0.5);
    backdrop-filter: blur(5px);
    color: #fff;
}
.box h1{
    font-family: Arial, sans-serif;
    margin: 0 0 10px 0;
}
.box p{
    font-family: Arial, sans-serif;
    word-break: break-word;
    line-height: 22px;
}
#praque{
    background-size: 100%;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-image: url('back.svg');
}
#sobre{
    background-color: #b5838d;
}
.space{
    display: flex;
    width: 100%;
    height: 50%;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.card{
    display: block;
    width: 30%;
    height: 100%;
    background-color: #ddd;
    border-radius: 10px;
    transition: 0.2s;
}
.card:after{
    position: relative;
    content: '';
    display: block;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 70%;
    background-size: 110%;
    background-position: center;
    background-image: url('card1.svg');
}
.card:hover{
    padding: 0 0 10px 0;
    transform: translateY(-10px);
}
@media screen and (max-width: 600px){
    #menubox{
        width: 100%;
        background-color: rgb(0,0,0,0.4);
    }
}